.container {
  display: flex;
  justify-content: center;
  @media (max-width: $BREAK_POINT_SIZE) {
    align-items: center;
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.checkboxBlock {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @media (max-width: $BREAK_POINT_SIZE) {
    margin-top: 12px;
  }
}
.block {
  display: flex;
  flex-direction: column;
}

.info {
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $BLUE30;
  padding-top: 32px;
  @media (max-width: $BREAK_POINT_SIZE) {
    flex-direction: column-reverse;
    border: none;
    margin: 0 0 15px 0;
  }
}
.button {
  width: 40%;
  @media (max-width: 1200px) {
    width: 60%;
  }
  @media (max-width: $BREAK_POINT_SIZE) {
    min-width: 100%;
    margin-bottom: 12px;
  }
}

.title {
  width: 60%;
  @media (max-width: 1200px) {
    width: 30%;
  }
  @media (max-width: $BREAK_POINT_SIZE) {
    min-width: 100%;
    text-align: center;
  }
}
.link {
  color: var(--BLUE);
  text-decoration: none;
}
.part {
  width: 50%;
  @media (max-width: $BREAK_POINT_SIZE) {
    width: 100%;
  }
}
.subtitle {
  margin-top: 16px;
  @media (max-width: $MAX_MOBILE_SIZE) {
    margin: 0;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
}
.row {
  display: flex;
  max-width: 586px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
  @media (max-width: $BREAK_POINT_SIZE) {
    min-width: 100%;
    margin: 0;
  }
}
.rowTime {
  display: flex;
  max-width: 586px;
  justify-content: space-between;
  @media (max-width: $BREAK_POINT_SIZE) {
    flex-direction: column;
    max-width: 100%;
    margin-top: 12px;
  }
}

.short {
  width: 29%;
}
.medium {
  width: 69%;
}
.photoWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 0px;
  margin-bottom: 30px;

  @media (max-width: $MAX_MOBILE_SIZE) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.passport_selfie {
  margin-bottom: 10px;
}

.inputCheckbox[type="checkbox"] {
  width: 25px;
  height: 25px;
  transform: scale(1);
}