.container {
    width: 100%;
    // height: 100vh;
    height: 594px;
    border-radius: 12px;
    @media (max-width: 640px) {
        height: 500px;
    }

    :global(.leaflet-control) {
        svg {
            opacity: 0.0 !important;
        }
    }
}
