.block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tabs {
  :global {
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
  }
}
.react-tabs__tab {
  height: 100%;
  @media (max-width: 640px) {
    font-size: 16px;
  }
}

.card {
  display: flex;
  flex-direction: row;
  :global {
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .react-tabs__tab-list {
      align-items: center;
      list-style: none;
      border: 1px solid var(--BLUE);
      border-radius: 4px;
      margin-bottom: 24px;
    }
    .tab_panel {
      display: none;
    }
    .swiper-wrapper {
      display: flex;
      width: auto;
    }
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .react-tabs__tab {
      color: var(--BLUE);
      cursor: pointer;
      height: 64px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      outline: none;
      width: auto;
      // padding: 0px 32px;
      text-align: center;
      @media (max-width: 640px) {
        font-size: 18px;
        // padding: 15px 10px;
      }
    }
    .react-tabs__tab--selected {
      border-bottom: 2px solid var(--BLUE);
      color: var(--BLUE);
      width: 100%;
    }
    .react-tabs__tab-panel {
    }
    .react-tabs__tab-panel--selected {
    }
  }
}
.arrow {
  width: 40px;
  height: 40px;
  background: $WHITE;
  box-shadow: 0 0 40px rgba(75, 91, 118, 0.2);
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  &:global {
    &.arrow-prev-navigation {
      left: -10px;
    }
    &.arrow-next-navigation {
      right: -10px;
    }
  }
}

.panel {
  // margin-top: 20px;
}
.pannel {
  padding: 15px;
}

// .heading{
//   margin: 50px 0;
// }

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tabs {
  :global {
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
  }
}
.react-tabs__tab {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  :global {
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .react-tabs__tab-list {
      align-items: center;
      list-style: none;
      border: 1px solid var(--BLUE);
      border-radius: 4px;
      margin-bottom: 24px;
    }
    .tab_panel {
      display: none;
    }
    .swiper-wrapper {
      display: flex;
      width: auto;
    }
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .react-tabs__tab {
      color: $TEXT400;
      cursor: pointer;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.1s;
      outline: none;
      width: auto;
      padding: 0px 25px;
      text-align: center;
    }
    .react-tabs__tab--selected {
      border-bottom: 2px solid var(--BLUE);
      color: var(--BLUE);
      width: 100%;
    }
    .react-tabs__tab-panel {
    }
    .react-tabs__tab-panel--selected {
    }
  }
}
.arrow {
  width: 40px;
  height: 40px;
  background: $WHITE;
  box-shadow: 0 0 40px rgba(75, 91, 118, 0.2);
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  &:global {
    &.arrow-prev-navigation {
      left: -10px;
    }
    &.arrow-next-navigation {
      right: -10px;
    }
  }
}

.panel {
}
.pannel {
  padding: 15px;
}
.vacancies {
  margin-top: 30px;
}
.headerVac {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 640px) {
    flex-direction: column;
  }
}
.selectFilter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 70px;
  align-items: baseline;
  > div > div {
    height: 48px;
  }
  @media (max-width: 640px) {
    width: 100%;
  }
}

.navigation {
  :global {
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .react-tabs__tab-list {
      align-items: center;
      list-style: none;
      border: 1px solid var(--BLUE);
      border-radius: 4px;
      margin-bottom: 24px;
    }
    .tab_panel {
      display: none;
    }
    .swiper-wrapper {
      display: flex;
      width: auto;
    }
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .react-tabs__tab {
      color: $TEXT400;
      cursor: pointer;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.1s;
      outline: none;
      width: auto;
      // padding: 20px 32px;
      text-align: center;
      @media (max-width: $MAX_MOBILE_SIZE) {
        font-size: 17px;
      }
    }
    .react-tabs__tab--selected {
      border-bottom: 2px solid var(--BLUE);
      color: var(--BLUE);
      width: 100%;
    }
    .react-tabs__tab-panel {
    }
    .react-tabs__tab-panel--selected {
    }
  }
}

.block_title {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.block_switch {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > p {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.block_card_list {
  > p {
    font-size: 12px;
    font-weight: 400;
    color: $TEXT400;
    margin-bottom: 5px;
  }
}
.block_cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  > p {
    padding: 9px 16px 9px 16px;
    border: 1px solid #BCC4D0;
    background-color: #fcfcfc;
    margin: 5px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
    color: $TEXT400;
    cursor: pointer;
  }
}

.selectList {
  background-color: #0F4F8D!important;
  border: none!important;
  color: $WHITE!important;
}

.filter_mob {
  display: none;
}


@media (max-width: 640px) {
  .filter {
    display: none;
  }
  .dBlock {
    display: none;
  }
  .filter_mob {
    display: block;
    color: #0F4F8D;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }

  .titleVac {
    font-size: 24px;
    font-weight: 400;
  }
  .selectFilterMob {
    margin-top: 20px;
    > div {
      margin-bottom: 15px;
    }
  }
}
.card_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.reset_filter_btn {
  background-color: #0F4F8D!important;
  color: $WHITE;
}
///switch
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 29.5px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 2px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }
  }

  &__input:checked + .slider {
    background-color: #2196F3;
    &::before {
      transform: translateX(26px);
    }
  }

  &__input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
}


