.card {
  border-radius: 12px;
  overflow: hidden;
  background: var(--WHITE);
  box-shadow: $SHADOW_1;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
    .btn {
      background-color: var(--BLUE);
      color: $WHITE;
    }
  }
}
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  background: var(--BLUE25);
}
.info {
  padding: 24px;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.badge {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 24px;
  background: rgba(19, 22, 27, 0.4);
  border-radius: 50px;
  padding: 0 12px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.image {
  display: block;
}

.title {
  margin-bottom: 16px;
  color: $BLACK;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  flex-grow: 3;
  justify-content: flex-start;
  color: var(--BLUE700);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 44px 0;
}
