.table {
  width: 100%;
  @media (max-width: $MAX_MOBILE_SIZE) {
  }
}
.navigation {
  :global {
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .react-tabs__tab-list {
      align-items: center;
      list-style: none;
      border: 1px solid var(--BLUE);
      border-radius: 4px;
      margin-bottom: 24px;
    }
    .tab_panel {
      display: none;
    }
    .swiper-wrapper {
      display: flex;
      width: auto;
    }
    .swiper-slide {
      width: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .react-tabs__tab {
      color: $TEXT400;
      cursor: pointer;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.1s;
      outline: none;
      width: auto;
      padding: 20px 32px;
      text-align: center;
      @media (max-width: $MAX_MOBILE_SIZE) {
        font-size: 13px;
      }
    }
    .react-tabs__tab--selected {
      border-bottom: 2px solid var(--BLUE);
      color: var(--BLUE);
      width: 100%;
    }
    .react-tabs__tab-panel {
    }
    .react-tabs__tab-panel--selected {
    }
  }
}
.tr {
  padding: 15px 15px;
  text-align: left;
  border: none;
  min-height: 64px;
  background: var(--WHITE);
  &:nth-child(even) {
    background: var(--BLUE10);
  }
  @media (max-width: $MAX_MOBILE_SIZE) {
    text-align: right;
  }
}

.th {
  border-bottom: 1px solid #e5e5e5;
  color: $TEXT400;
  padding: 15px 15px;
  background: var(--WHITE);
}
.td {
  color: var(--BLACK);
  padding: 15px 15px;

  &:last-child {
    text-align: center;
    width: 370px;
    @media (max-width: $MAX_MOBILE_SIZE) {
      text-align: center;
      width: 200px;
      font-size: 14px;
    }
  }
  @media (max-width: $MAX_MOBILE_SIZE) {
    text-align: center;
    width: 200px;
    font-size: 14px;
  }
}

.tableMob {
  align-items: baseline;
  box-shadow: $SHADOW_2;
  border-radius: 12px;
  background: $WHITE;
  max-width: 500px;
  min-height: 250px;
  display: flex;
  overflow-x: scroll;
  margin: 0 auto;

  @media (min-width: 641px) {
    display: none;
  }
}
.theadMob {
  display: flex;
  background: $WHITE;
  box-shadow: 8px 0px 40px rgba(75, 91, 118, 0.2);
  z-index: 50;
}
.trMob {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: $WHITE;
  min-width: 146px;
  .tdMob {
    background-color: $WHITE;
  }
  &:nth-child(even) {
    .tdMob {
      background-color: $BLUE25;
    }
  }
}
.thMob {
  border: none;
  background: $WHITE;
  padding: 24px 27px;
  color: $BLACK;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  min-width: 146px;
}
.tdMob {
  border: none;
  background: $WHITE;
  padding: 24px 27px;
  color: $TEXT400;
  min-width: 100px;
  max-height: 100px;
  background-color: $WHITE;
}
.tbodyMob {
  display: flex;
  background-color: $WHITE;
  align-items: center;
}
.arrow {
  width: 40px;
  height: 40px;
  background: $WHITE;
  box-shadow: 0 0 40px rgba(75, 91, 118, 0.2);
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  &:global {
    &.arrow-prev-navigation {
      left: -10px;
    }
    &.arrow-next-navigation {
      right: -10px;
    }
  }
}
