.wrapper {
  background-color: $BLACK;
  padding: 60px 0;

  @include mobile {
    padding: 40px 0;
  }
}

.title {
  color: $WHITE;
  text-align: center;
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 24px;
  }
}
