.card {
  display: flex;
  justify-content: start;
  background: $WHITE;
  box-shadow: $SHADOW_2;
  border-radius: 8px;
  min-height: 104px;
  align-items: center;
  padding: 10px 25px;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  @media (max-width: 960px) {
    min-height: 215px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 100%;
    justify-content: space-evenly;
  }
  @media (max-width: $MAX_MOBILE_SIZE) {
    // width: 146px;
  }
  transition: 0.6s ease;
  cursor: pointer;
  &:hover {
    -moz-transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    -o-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
  }
}
.first {
  margin-right: 25px;
  width: 400px;
  max-width: 273px;
  @media (max-width: 960px) {
    margin-bottom: 10px;
    max-width: 100%;
  }
}
.icon {
  color: $TEXT400;
  margin-right: 15px;
  // min-width: 18px;
  // min-height: 18px;
  width: 38px;
  height: 38px;
}
.name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.second {
  margin-right: 25px;
  max-width: 250px;
  @media (max-width: 960px) {
    margin: 0 25px 10px;
    max-width: 100%;
  }
}
.title {
  color: $BLACK;
}
.titleReg {
  color: var(--BLUE);
}
.address {
  color: $TEXT600;
  margin-bottom: 10px;
}
.isOpen {
  color: $GREEN;

  &:before {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: $GREEN;
    margin: 0 12px 0 4px;
    align-items: center;
  }
}
.isClosed {
  color: $RED;

  &:before {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: $RED;
    margin: 0 12px 0 4px;
    align-items: center;
  }
}
.caption {
  color: var(--BLUE);
  font-weight: 700;
}
.button {
  // max-width: 250px;
  right: 0;
  margin-right: 25px;
  margin-left: 25px;
  // font-size: 12px !important;
  @media (min-width: 960px) {
    position: absolute;
  }
  @media (max-width: 960px) {
    min-width: 90%;
  }
  .buttonLink {
    font-size: 14px;
    font-weight: 600;
  }
}

.isGroundMode {
  color: $YELLOW_HOVER;
}
.adress {
  text-decoration: none;
  color: $BLACK;
  margin-right: 10px;
}

.iamgeWrapper {
  margin-right: 10px;
  min-width: 38px;
  min-height: 38px;
}

.cuption {
  font-size: 16px;
  font-weight: 700;
  color: var(--BLUE);
}
